.search-bar{
    margin: 30px;
    text-align: center;
}

.search-bar input{
    width:75%;
}

.video-item img{
    max-width: 64px;
}

.video-detail .details{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-size-adjust: 20px;
    font-size: large;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover{
    background-color: #eee;
}

.suggested-media-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: small;
}

.Search{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:red;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top {
    margin: 30px 0;
    display: inline;
    flex-direction: row;
    justify-content:stretch;
}
